@import "media";

@mixin display-none { display: none; }
@mixin display-block { display: block; }
@mixin display-flex { display: flex; }
@mixin display-inline { display: inline; }
@mixin display-inline-block { display: inline-block; }
@mixin display-inline-flex { display: inline-flex; }

.d-none { @include display-none; }
.d-inline { @include display-inline; }
.d-flex { @include display-flex; }
.d-inline { @include display-inline; }
.d-inline-flex { @include display-inline-flex; }
.d-inline-block { @include display-inline-block; }

@media (max-width: $media-xs) {
  .mobile\:d-none { @include display-none; }
  .mobile\:d-inline { @include display-inline; }
  .mobile\:d-flex { @include display-flex; }
  .mobile\:d-inline { @include display-inline; }
  .mobile\:d-inline-flex { @include display-inline-flex; }
  .mobile\:d-inline-block { @include display-inline-block; }
}

@media (min-width: $media-xs) {
  .xs\:d-none { @include display-none; }
  .xs\:d-inline { @include display-inline; }
  .xs\:d-flex { @include display-flex; }
  .xs\:d-inline { @include display-inline; }
  .xs\:d-inline-flex { @include display-inline-flex; }
  .xs\:d-inline-block { @include display-inline-block; }
}

@media (min-width: $media-sm) {
  .sm\:d-none { @include display-none; }
  .sm\:d-inline { @include display-inline; }
  .sm\:d-flex { @include display-flex; }
  .sm\:d-inline { @include display-inline; }
  .sm\:d-inline-flex { @include display-inline-flex; }
  .sm\:d-inline-block { @include display-inline-block; }
}

@media (min-width: $media-md) {
  .md\:d-none { @include display-none; }
  .md\:d-inline { @include display-inline; }
  .md\:d-flex { @include display-flex; }
  .md\:d-inline { @include display-inline; }
  .md\:d-inline-flex { @include display-inline-flex; }
  .md\:d-inline-block { @include display-inline-block; }
}

@media (min-width: $media-lg) {
  .lg\:d-none { @include display-none; }
  .lg\:d-inline { @include display-inline; }
  .lg\:d-flex { @include display-flex; }
  .lg\:d-inline { @include display-inline; }
  .lg\:d-inline-flex { @include display-inline-flex; }
  .lg\:d-inline-block { @include display-inline-block; }
}

@media (min-width: $media-xl) {
  .xl\:d-none { @include display-none; }
  .xl\:d-inline { @include display-inline; }
  .xl\:d-flex { @include display-flex; }
  .xl\:d-inline { @include display-inline; }
  .xl\:d-inline-flex { @include display-inline-flex; }
  .xl\:d-inline-block { @include display-inline-block; }
}