@use "sass:math";
@import "media";

@mixin h($i, $n: 12) { height: math.div($i * 100%, $n); }

@mixin h-0 { @include h(0); }
@mixin h-1 { @include h(1); }
@mixin h-2 { @include h(2); }
@mixin h-3 { @include h(3); }
@mixin h-4 { @include h(4); }
@mixin h-5 { @include h(5); }
@mixin h-6 { @include h(6); }
@mixin h-7 { @include h(7); }
@mixin h-8 {@include h(8); }
@mixin h-9 { @include h(9); }
@mixin h-10 { @include h(10); }
@mixin h-11 { @include h(11); }
@mixin h-12 { @include h(12); }
@mixin h-full { height: 100%; }
@mixin h-expand { flex-grow: 1; }

.h-0 { @include h-0; }
.h-1 { @include h-1; }
.h-2 { @include h-2; }
.h-3 { @include h-3; }
.h-4 { @include h-4; }
.h-5 { @include h-5; }
.h-6 { @include h-6; }
.h-7 { @include h-7; }
.h-8 { @include h-8; }
.h-9 { @include h-9; }
.h-10 { @include h-10; }
.h-11 { @include h-11; }
.h-full { @include h-full; }
.h-expand { @include h-expand; }

@media (min-width: $media-xs) {
  .xs\:h-0 { @include h-0; }
  .xs\:h-1 { @include h-1; }
  .xs\:h-2 { @include h-2; }
  .xs\:h-3 { @include h-3; }
  .xs\:h-4 { @include h-4; }
  .xs\:h-5 { @include h-5; }
  .xs\:h-6 { @include h-6; }
  .xs\:h-7 { @include h-7; }
  .xs\:h-8 { @include h-8; }
  .xs\:h-9 { @include h-9; }
  .xs\:h-10 { @include h-10; }
  .xs\:h-11 { @include h-11; }
  .xs\:h-full { @include h-full; }
  .xs\:h-expand { @include h-expand; }
}

@media (min-width: $media-sm) {
  .sm\:h-0 { @include h-0; }
  .sm\:h-1 { @include h-1; }
  .sm\:h-2 { @include h-2; }
  .sm\:h-3 { @include h-3; }
  .sm\:h-4 { @include h-4; }
  .sm\:h-5 { @include h-5; }
  .sm\:h-6 { @include h-6; }
  .sm\:h-7 { @include h-7; }
  .sm\:h-8 { @include h-8; }
  .sm\:h-9 { @include h-9; }
  .sm\:h-10 { @include h-10; }
  .sm\:h-11 { @include h-11; }
  .sm\:h-full { @include h-full; }
  .sm\:h-expand { @include h-expand; }
}

@media (min-width: $media-md) {
  .md\:h-0 { @include h-0; }
  .md\:h-1 { @include h-1; }
  .md\:h-2 { @include h-2; }
  .md\:h-3 { @include h-3; }
  .md\:h-4 { @include h-4; }
  .md\:h-5 { @include h-5; }
  .md\:h-6 { @include h-6; }
  .md\:h-7 { @include h-7; }
  .md\:h-8 { @include h-8; }
  .md\:h-9 { @include h-9; }
  .md\:h-10 { @include h-10; }
  .md\:h-11 { @include h-11; }
  .md\:h-full { @include h-full; }
  .md\:h-expand { @include h-expand; }
}

@media (min-width: $media-lg) {
  .lg\:h-0 { @include h-0; }
  .lg\:h-1 { @include h-1; }
  .lg\:h-2 { @include h-2; }
  .lg\:h-3 { @include h-3; }
  .lg\:h-4 { @include h-4; }
  .lg\:h-5 { @include h-5; }
  .lg\:h-6 { @include h-6; }
  .lg\:h-7 { @include h-7; }
  .lg\:h-8 { @include h-8; }
  .lg\:h-9 { @include h-9; }
  .lg\:h-10 { @include h-10; }
  .lg\:h-11 { @include h-11; }
  .lg\:h-full { @include h-full; }
  .lg\:h-expand { @include h-expand; }
}

@media (min-width: $media-xl) {
  .xl\:h-0 { @include h-0; }
  .xl\:h-1 { @include h-1; }
  .xl\:h-2 { @include h-2; }
  .xl\:h-3 { @include h-3; }
  .xl\:h-4 { @include h-4; }
  .xl\:h-5 { @include h-5; }
  .xl\:h-6 { @include h-6; }
  .xl\:h-7 { @include h-7; }
  .xl\:h-8 { @include h-8; }
  .xl\:h-9 { @include h-9; }
  .xl\:h-10 { @include h-10; }
  .xl\:h-11 { @include h-11; }
  .xl\:h-full { @include h-full; }
  .xl\:h-expand { @include h-expand; }
}